.search-result-list-section {
  grid-column: 1 / 4;
  padding: 10px;
}

.search-result-list-header {
  padding: 10px 0px;
}

.search-result-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
